body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-content {
    display: flex;
    flex: 1;
}

.control-panel {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.checkbox {
    margin: 10px 0;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox label {
    display: block;
    margin-bottom: 5px;
}


.selectedDetails {
    width: 20%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */

    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

#resetButton {
    height: 60px;
    width: 100%;
}

.content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.content .chart {
    max-width: 500px;
    width: 700px;
    height: 200px;
    margin: 5px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}